<html>
<head>
	<title>About Figure</title>
</head>
<body>

	Unstyled Info Page for FIGURE.

	<p>

	<strong>Figure </strong> is a scalable, multi-channel screen interface for music performance and education that enables a new kind of improvisation. Musical prompts can be to one, some, or all performers on-the-fly.  It consists of a combination of three main screen views/modes: 

	<p>

	<strong>Compose: </strong>

    <p>         + upload a variety of cues and musical figures
    <p>         + cues may be digital sheet-music to images, video, or even interactive media
    <p>         + they becomes automatically available in the conductor view

    <p>

<strong>Conduct:</strong>

    <p>         + conductor selects active channel
    <p>         + selects some previously uploaded media (clickable)
    <p>         + send cue to performer(s) through active channel

    <p>

<strong>Perform:</strong>

    <p> + performer selects their channel     
    <p> + cues sent by conductor are displayed

<p>
<p>
<strong>How to Use:</strong>
<p> + create a username and password : no email addresses, symbols, lowercase only
<p> + upload your files
<p> + performers do not need to log-in, only navigate to .../performer.




</body>
</html>