<html>
    <head> 
    	
        <title>FIGURE :: COMPOSE</title>
        
        <!-- <meta charset="utf-8"> -->

        <script src="//code.jquery.com/jquery-1.11.2.min.js"> </script>
        <script type="text/javascript" src="/socket.io/socket.io.js"> </script>
        <script src="/socket.io/socket.io.js"></script>  
        <script src="/dropzone/dropzone.js"></script>
        <link rel="stylesheet" href=" /dropzone/dropzone.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.js"> </script>
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.sound.js"> </script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.dom.js"> </script>

        <script>  var socket = io(); </script> 

        <title> Composer Dashboard </title>

                <script type="text/javascript">

                        socket.on('connect', function() {
                        socket.emit('gimme'); 
                        console.log("Composer in the house.");                
                        });

                </script> 
    </head>
<body>

<div class='sidebar'>

    Welcome to Composer Dashboard {{user}}
    <p> 
        <p>
        <input type="file" id="file_input"/>
        <p>

    Only .jpg, .png, .mov, .wav, .mp3 files supported right now.

<div id="progressNumber"></div>

        <!-- <form method="POST" action="/submit_form/">
            <input type="text" name="figurename" placeholder="figurename" /><br />
            <input type="text" name="keysig" placeholder="keysig" /><br /><br />
            <input type="submit" value="Update profile" />
        </form> -->
        
            <nav>
            <div class="navButton" id="compose">  COMPOSE </div>
            <div class="navButton" id="perform">  PERFORM </div>
            <div class="navButton" id="conduct">  CONDUCT </div>
            </nav>
</div>
         
        <!--  This is where the folder list comes in  -->   
                     
                <div class="figures">

                <p> Images <p> 

                {{#images}}               
                <img src= {{.}} width="100px" height="100px">                
                {{/images}}                 

                <p> Videos <p>

                {{#videos}}
                <video src={{.}} width="100px" height="100px"> </video>            
                {{/videos}}
                </div>

                <!-- <p> Waveforms <p>

                {{#audio}}
                <div class="audio" title={{.}}>  </div>
                {{/audio}}

                {{#audionames}}
                <div class="audionames" title={{.}} style.visibility="hidden">  </div>
                {{/audionames}} -->


<script type="text/javascript" >

    
    $(compose).click(function(){
        $(location).attr('href', '/compose') ;   
    });

    $(perform).click(function(){
        $(location).attr('href', '/performer') ;   
    });

    $(conduct).click(function(){
        $(location).attr('href', '/conductor') ;   
    });



// for progress bar
function uploadProgress(evt) {
    if (evt.lengthComputable) {
      var percentComplete = Math.round(evt.loaded * 100 / evt.total);
      document.getElementById('progressNumber').innerHTML = 'Upload Progress: ' + percentComplete.toString() + '%';
    }
    else {
      document.getElementById('progressNumber').innerHTML = 'unable to compute';
    }
  }

// for page refresh after upload complete
  function uploadComplete(evt){
    location.reload();

  }



(function() {
    //console.log('client 1');
    document.getElementById("file_input").onchange = function(){
        var files = document.getElementById("file_input").files;
        var file = files[0];
         if(file == null){
           alert("No file selected.");
        }
        else {
            get_signed_request(file);
        }
    };
})();

function get_signed_request(file){
    //console.log('client 2');
       // console.log(file.type);
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            console.log(xhr);
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
               // console.log("response " + response);
                upload_file(file, response.signed_request, response.url);
            }
            else {
                console.log("Could not get signed URL.");                
            }
        }
    };   
    xhr.send();

}

function upload_file(file, signed_request, url){
   // console.log('client 3');

   var firstProgressEvent = false;
    var xhr = new XMLHttpRequest();

    xhr.open("PUT", signed_request);

    xhr.upload.addEventListener("progress", uploadProgress, false);

    xhr.addEventListener("load", uploadComplete, false);

    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
          // 4//   document.getElementById("preview").src = url;
          //  document.getElementById("avatar_url").value = url;
        }
    };
    xhr.onerror = function() {
        alert("Could not upload file.");
    };

    //console.log("presend" + file);

    xhr.send(file);
    
    //console.log('client 5');


}


</script>

</body>
</html>