        
   <html>
		<head>

		 		<!-- add external scripts like jquery and socket.io -->

		        <script src="//code.jquery.com/jquery-1.11.2.min.js"> </script>
				<script type="text/javascript" src="/socket.io/socket.io.js"> </script>

				<script src="/socket.io/socket.io.js"></script>  
				<script>  var socket = io(); </script> 

					
				<script type="text/javascript">

							socket.on('connect', function() {
								console.log("Conducter in the house.");
							});
						
				</script>	

										<!-- head scripts END -->

				<style>
						@font-face {
					    font-family: nexa;
					    src: url('nexalight.otf');
					}

					div {
					    font-family: nexa;
					    font-size: 20px;
					} 

					body {

						background-color: #777;
					}

				</style>


		</head>


 

 <body>



 			

			<div id="messages" align="left"> You are the conductor. 

				<p id ="checking">  </p>
				<p>

							<!-- performer button images -->
		
			<p>
			<img  src="img/p1.png"     id="p1"   style="width:25px; height:25">
			<img  src="img/p2.png"     id="p2"   style="width:25px; height:25">
			<img  src="img/p3.png"     id="p3"   style="width:25px; height:25">
			<p>
			<img  src="img/all.png"    id="p4"   style="width:35px; height:25">
			

			</div>

				<!-- <br>
				<br>
				<br>
				<br> -->

									<!-- figure  images -->

		<div id="figuresBox" align="center">

		<!-- 	<img  src="/assets/drone2.png"  		 id="hp1"   style="width:167px; height:48">
		 	<img  src="/assets/droneG1.png"    		 id="hp2"   style="width:167px; height:48">
		 	<p>
		 	<img  src="/assets/fadeout.png"   		 id="hp3"   style="width:167px; height:48">
		 	<img  src="/assets/Fsharpto.png"   		 id="hp4"   style="width:167px; height:48">
		 	<p>
		 	<img  src="/assets/highSqueaks.png"      id="hp5"   style="width:167px; height:48">
		 	<img  src="/assets/open.png"      		 id="hp6"   style="width:167px; height:48">
		 	<p>
		 	<img  src="/assets/percussive1.png"      id="hp7"   style="width:167px; height:48">
		 	<img  src="/assets/separation1.png"      id="hp8"   style="width:167px; height:48">
		 	<p>
		 	<img  src="/assets/tacet.png"      		 id="hp9"   style="width:167px; height:48"> -->

		 	<img  src="/assets/ooh.png"   		 id="hp1"   style="width:167px; height:48">
		 	<img  src="/assets/aah.png"   		 id="hp2"   style="width:167px; height:48">
		 	<p>
		 	<img  src="/assets/clapwave.png"      id="hp3"   style="width:167px; height:48">
		 	<img  src="/assets/taps.png"      		 id="hp4"   style="width:167px; height:48">
		 	<p>
		 	<img  src="/assets/sitstand.png"      id="hp5"   style="width:167px; height:48">
		 	<img  src="/assets/silly.png"      id="hp6"   style="width:167px; height:48">

		</div>	


			 	<script type="text/javascript">

				// performer button functionality

					var toWhom = 0;  // initialize these globally
					var toAll = 0;
					// var performerCount;
					

					document.getElementById("checking").innerHTML = "performers: 0";

					// >> new add
					// eventually this will create a reactive list of numbers which select which performers

			socket.on('performerCount', function (data) {   //updates when a new performer joins or leaves

					var perfs =[];
					var x = data;

					for (i = 0; i < x; i++) {

    					perfs[i] = i + 1;

 					 }

					document.getElementById("checking").innerHTML = "performers: " + perfs.join("  ");  // changing the #performers on conductor page

					// console.log("performerCount = " + data); 
							
				});



			 		$(p1).click(function(){

			 			
			 			toAll = 0;
			 			toWhom = 1;

			 			console.log("one");
			 			socket.emit('sendingTo', toWhom, toAll);
			 			socket.emit('sendingAll', toAll);


			 				// UI shiz
			 		document.getElementById('p1').src = "/img/p1on.png";
			 		document.getElementById('p2').src = "/img/p2.png";
			 		document.getElementById('p3').src = "/img/p3.png";
			 		document.getElementById('p4').src = "/img/all.png";
			 	}
			 );

			 		$(p2).click(function(){

			 			toAll = 0;
			 			toWhom = 2;

			 			console.log("two");
			 			socket.emit('sendingTo', toWhom, toAll);
			 		    socket.emit('sendingAll', toAll);

			 		document.getElementById('p1').src = "/img/p1.png";
			 		document.getElementById('p2').src = "/img/p2on.png";
					document.getElementById('p3').src = "/img/p3.png";
					document.getElementById('p4').src = "/img/all.png";
			 	}
			 );

			 		$(p3).click(function(){

			 			toAll = 0;
			 			toWhom = 3;

			 			
						console.log("three");
			 			socket.emit('sendingTo', toWhom, toAll);
			 		    socket.emit('sendingAll', toAll);

			 		document.getElementById('p1').src = "/img/p1.png";
			 		document.getElementById('p2').src = "/img/p2.png";
					document.getElementById('p3').src = "/img/p3on.png";
					document.getElementById('p4').src = "/img/all.png";
			 		
			 	}
			 );

					$(p4).click(function(){

						toWhom = 0;
			 			toAll = 1;

			 			
						console.log("three");
			 			socket.emit('sendingTo', toWhom, toAll);
			 			socket.emit('sendingAll', toAll);

			 		document.getElementById('p1').src = "/img/p1.png";
			 		document.getElementById('p2').src = "/img/p2.png";
					document.getElementById('p3').src = "/img/p3.png";
					document.getElementById('p4').src = "/img/allOn.png";
			 		
			 	}
			 );

			// figure button functionality

			 	$(hp1).click(function(){
			 		console.log("station");
			 		socket.emit('imageFigure', "/assets/ooh.png");

			 			//changes the status "who is playing what" on conductor page
			 		// document.getElementById('s'+toWhom).src = "/assets/station.png";

			 	}
			 );

				$(hp2).click(function(){
			 		console.log("metal");
			 		socket.emit('imageFigure', "/assets/aah.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/metal.png";
			 	}
			  );

				$(hp3).click(function(){
			 		console.log("charmy");
			 		socket.emit('imageFigure', "/assets/clapwave.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/charmy.png";
			 	}
			  );

				$(hp4).click(function(){
			 		console.log("candy");
			 		socket.emit('imageFigure', "/assets/taps.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/candy.png";
			 	}
			  );

				$(hp5).click(function(){
			 		console.log("tacet");
			 		socket.emit('imageFigure', "/assets/sitstand.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/tacet.png";
			 	}
			  );

				$(hp6).click(function(){
			 		console.log("tacet");
			 		socket.emit('imageFigure', "/assets/silly.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/tacet.png";
			 	}
			  );

				$(hp7).click(function(){
			 		console.log("tacet");
			 		socket.emit('imageFigure', "/assets/percussive1.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/tacet.png";
			 	}
			  );

				$(hp8).click(function(){
			 		console.log("tacet");
			 		socket.emit('imageFigure', "/assets/separation1.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/tacet.png";
			 	}
			  );

				$(hp9).click(function(){
			 		console.log("tacet");
			 		socket.emit('imageFigure', "/assets/tacet.png");

			 		// document.getElementById('s'+toWhom).src = "/assets/tacet.png";
			 	}
			  );


			</script>
 
 	</body>

</html>