<html>
<head>
	<title>FIGURE :: CONDUCT</title> 
			
    <script src="//code.jquery.com/jquery-1.11.2.min.js"> </script>
	<script type="text/javascript" src="/socket.io/socket.io.js"> </script>
	<script src="/socket.io/socket.io.js"></script>  
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/sketches.js"></script> 
	
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.js"> </script>
	<script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.sound.js"> </script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.dom.js"> </script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	<!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
	<!-- load fontawesome -->
			
	<script>  var socket = io(); </script> 	
	
	<script type="text/javascript">
				socket.on('connect', function() {
				console.log("Conducter in the house.");
			 });
	</script>	

	<style>

		body{
			background-color: #080336;
			color: fff;
			    font-size: 15px;
		}

		.btn {
			background-color: #080336;
			color: #666666;
			font-size: 20px;

		    } 
		#everythingConductor {
			/*visibility: visible;*/
			display: block;
		}

		#everythingPerformer {
			/*visibility: hidden;*/
			display: none;
		}
	</style>

</head>

<body> 
 			
<div id="everythingConductor">

	<div class="sidebar" align="center"> 

		 {{user}} 
		
		<!-- simple nav -->
		<nav>
		<a href="/dashboard" class="btn btn-default"> Dashboard </a> 
		</nav>

		<br>
		<br>


		<!-- PERFORMER channel update -->	
		<input type="number" id="myNumber" value="0">
		<p>
		<button class="btn btn-default" onclick="updatePerfCount()"># of Performers</button>
	</br>
	</br>
	</br>
	</br>
        <input type="file" id="file_input"/>
        <p>
		<div id="progressNumber"></div>

	</div>


<div id="main" >

		<!-- holds performer buttons -->
		<div id="performer-container">
			<p>
				<a class="btn btn-default" id="clear"> CLEAR </a>
				<a class="btn btn-default" id="all"> ALL </a>
				<a class="btn btn-default" id="switcher"> SWITCH </a> 
				<a class="btn btn-default" id="delButton"> delMode </a> 
			<p>
		</div>	


		<p> Images <p>

	 	{{#images}}                              		
	 	<div class="figuresB">                 
	      <img src={{.}} class="imageF " width="100px" height="100px">  </img>
	      <span class="imageText">  </span>   
	    </div>
	    {{/images}}
	  
	  	<p> Videos <p>
	  	{{#videos}}
	  	<video src={{.}} class="videoF" width="100px" height="100px"> </video>
	  	{{/videos}}

	  	<p> Waveforms <p>
	  	{{#audio}}
	  	<div class="audio" title={{.}}>  </div>
	  	{{/audio}}

	  	{{#audionames}}
	  	<div class="audionames" title={{.}} style.visibility="hidden">  </div>
	  	{{/audionames}}

</div>

	
<script type="text/javascript">

		//////////////////////////////// BEGIN CONDUCTOR SCRIPT //////////////////////////////////
	
	var acct = "{{user}}";  // coming in from server / session stuff
	var toWhom = 0;  // initialize these globally, used in server and emit to performers
	var toAll = 0;
	var divs = [];
	var member = 0;
	var group = [];
	var whoWhat = {};
	var perfs = [];   
	var pX;

	var delMode = false;


socket.on('deleteReload', uploadComplete);

//SWITCHER button
		$(switcher).click(function(){

			console.log('switch ' + toWhom);
			socket.emit(acct + ' switch', toWhom);

			document.getElementById("everythingPerformer").style.display = "block";
			document.getElementById("everythingConductor").style.display= "none";

			//this activates whichever p5 sketch
			performerSketch();

		});

// ALL button
	$(all).click(function(){
		if(toAll == 0){
			$(all).fadeTo("fast", 0.5); 
		    $(all).css('color', 'red');
			  toAll = 1;
			  console.log('sendingAll ' + toAll);
			  socket.emit(acct + ' sendingAll', toAll);
		} else if (toAll == 1){
			$(all).fadeTo("fast", 0.5); 
		    $(all).css('color', 'lightgray');
		      toAll = 0;
		      console.log('sendingAll ' + toAll);
		};
	});

// DELETE button
	$(delButton).click(function(){  
        if(delMode == false){
        	$(delButton).fadeTo("fast", 0.5); 
		    $(delButton).css('color', 'red');
              delMode = true;
              console.log("delMode = " + delMode);

    //$(location).attr('href', '/deleteFile') ;  

        } else if (delMode == true){
        	$(delButton).fadeTo("fast", 0.5); 
		    $(delButton).css('color', 'lightgray');
            delMode = false;
            console.log("delMode = " + delMode);
        };
    });


//CLEAR BUTTON
$(clear).click(function(){

	// this clears the group when an image is sent
	group = [];
	member = 0;
	toAll = 0;

	// this clears the button states when an image is sent
	for (i=0; i < perfs.length; i++){
		$('#cp' + (i+1)).css('color', 'white');
	};

	for (i=0; i < perfs.length; i++){
		$('#cp' + (i+1)).fadeTo("fast", 1.0);
	};

	// zeros out the 'ALL' button when a figure is sent
	$(all).fadeTo("fast", 1.0);
		
	});

		// DYNAMIC PERF SHIZZ	

		//  taking the number of performer channels input by conductor
		//  sending the perfcount to all of the performers as a global var pX
		//  adding event listeners for click functionality
		
		function updatePerfCount() {   

			pX = document.getElementById("myNumber").value;

			socket.emit(acct + ' perfCount', pX);   //CHANGE added acct 7/2
			
				//makes the circular buttons
	  			$('.performerDivB').remove();
	  			perfs = [];

	    		for(i=0; i < pX; i++){
			    	perfs[i] = document.createElement('div');
			    	perfs[i].className = 'performerDivB';
			    	perfs[i].id = 'cp' + (i+1);
			    	perfs[i].innerHTML = i + 1;
			    	document.getElementById('performer-container').appendChild(perfs[i]);
				};

			    //attaching the listener for click
				for (var i = 0; i < pX; i++){
    				$('#cp' + (i+1)).click(doTheThing(i));
    			};

    			// right now filling object for cross check
    			for (i = 0; i < pX; i++){
					var playerNum = i+1; // this keeps player #'s straight
					whoWhat['player'+ playerNum] = ' ';
				};

				console.log(whoWhat);	
		};


		// function than runs when clicked
		function doTheThing(index) {

	    	return function(){ 

	    		var num = index + 1;
	    		var perfID = "#cp" + (num);
	    			
	 			$(perfID).fadeTo("fast", 0.5); 
		    	$(perfID).css('color', 'red');
		    	
		    	toAll = 0;
	 			toWhom = num;

	 			group[member] = toWhom;

	 			member = member + 1;

	 			//may not need this when grouping is done	
	 			socket.emit(acct + ' toGroup', group);
	 			socket.emit(acct + ' sendingTo', toWhom, toAll);
	 			socket.emit(acct + ' sendingAll', toAll);

	 			};
 		};

////////////////////////// END DYNAMIC PERF SHIZZ	

///////////////////////// FIGURE IMAGES > BUTTONS


	// this block is taking the number of images and adding ID's for button functions

	var imageIds = document.getElementsByClassName("imageF");  // from image tag above
	var imageSrcs = [];  //sending this to the socket emit
	var imageTxtIds = document.getElementsByClassName("imageText");  // from text tag


	//assign ids to all of the images
	for (i = 0; i < imageIds.length; i++) {
		imageIds[i].id = 'iF'+ i;	
	};

	//assign ids to the text overlay divs
	for (i = 0; i < imageTxtIds.length; i++) {
		imageTxtIds[i].id = 'iT'+ i;	
		//console.log(imageTxtIds[i].id);
	};

	// get the urls of images
	for (i = 0; i < imageIds.length; i++) {
		imageSrcs[i] = imageIds[i].src;
	};

	//seth helped with this  -- add button functionalities
	for(var i = 0; i < imageIds.length; i ++){
		$("#iF" + i).click(fadeTheFadeI(i));
	};

	
	//add the urls to the button

	function fadeTheFadeI(index){
	
		return function(){
			var image = "#iF" + index; 
			$(image).fadeTo("slow", 0.5);				
			
//DELETE mode stuff

	if(delMode == false){
		socket.emit(acct + ' imageFigure', imageSrcs[index]);
	} else if(delMode == true){
		console.log(acct + ' delMode ' + imageSrcs[index].split('/')[4]);
		socket.emit(acct + ' deleteTest', imageSrcs[index].split('/')[4]); 
	};

			// display who is playing which figure
		for(i=0; i < group.length; i++){
			 whoWhat['player' + group[i]] = 'iT' + index;
			};
			console.log(whoWhat);

		for (i=0; i < imageIds.length; i++){
			document.getElementById('iT' + i).innerHTML = ' ';
			}
	
		for (i=0; i < Object.keys(whoWhat).length; i++){
			console.log(whoWhat['player' + (i+1)]);
			 if (whoWhat['player' + (i+1)] !== " "){
		 		console.log(document.getElementById(whoWhat['player' + (i+1)]).innerHTML);
		 		document.getElementById(whoWhat['player' + (i+1)]).innerHTML += (i+1)+ " ";
		 		};
		 	};

			// this clears the group when an image is sent
			group = [];
			member = 0;

			// this clears the button states when an image is sent
			for (i=0; i < perfs.length; i++){
				$('#cp' + (i+1)).css('color', 'white');
			};

			for (i=0; i < perfs.length; i++){
				$('#cp' + (i+1)).fadeTo("fast", 1.0);
			};

			// zeros out the 'ALL' button when a figure is sent
			$(all).css('color', 'white');
			$(all).fadeTo("fast", 1.0);

		  };
	};	// end fade the fade


	//video buttons

	var videoIds = document.getElementsByClassName("videoF");  // from image tag above
	var videoIdsLength = videoIds.length;
	var videoSrcs = [];  //sending this to the socket emit

	//create unique id's for videos
	for (i = 0; i < videoIds.length; i++) {
		videoIds[i].id = 'vF'+ i;	
	};
	// gut the urls of videos
	for (i = 0; i < videoIds.length; i++) {
		videoSrcs[i] = videoIds[i].src;
	};
	//seth helped with this  -- add button functionalities
	for(var i = 0; i < videoIds.length; i ++){
		$("#vF" + i).click(fadeTheFadeV(i));
	};
	//add the urls to the button
	function fadeTheFadeV(index){
		return function(){
			$("#vF" + index).fadeTo("slow", 0.5);
			socket.emit(acct + ' videoFigure', videoSrcs[index])
		};
	};	


	// audio buttons

	var waveIds = document.getElementsByClassName("audio");  // from image tag above
	var waveIdsLength = waveIds.length;
	var waveSrcs = [];  //sending this to the socket emit
	var waveNames = document.getElementsByClassName("audionames");
	
	//console.log(audioNames)
	//create unique id's for videos
	for (i = 0; i < waveIds.length; i++) {
		waveIds[i].id = 'aF'+ i;	
	};
	// gut the urls of videos
	for (i = 0; i < waveIds.length; i++) {

		waveIds[i].innerHTML = waveNames[i].title;

		waveSrcs[i] = waveIds[i].title;
		//console.log(waveSrcs);
	};
	//seth helped with this  -- add button functionalities
	for(var i = 0; i < waveIds.length; i ++){
		$("#aF" + i).click(fadeTheFadeA(i));
	};
	//add the urls to the button
	function fadeTheFadeA(index){
		return function(){
			$("#aF" + index).fadeTo("slow", 0.5);
			socket.emit(acct + ' waveSketch', waveSrcs[index])
		};
	};

	// FILE UPLOAD STUFF for progress bar

function uploadProgress(evt) {
    if (evt.lengthComputable) {
      var percentComplete = Math.round(evt.loaded * 100 / evt.total);
      document.getElementById('progressNumber').innerHTML = 'Upload Progress: ' + percentComplete.toString() + '%';
    }
    else {
      document.getElementById('progressNumber').innerHTML = 'unable to compute';
    }
  }

// for page refresh after upload complete
  function uploadComplete(evt){
    location.reload();

  }


	// (function() {

	document.getElementById("file_input").onchange = function(){
	    var files = document.getElementById("file_input").files;
	    var file = files[0];
	     if(file == null){
	       alert("No file selected.");
	    }
	    else {
	        get_signed_request(file);
	    }
	};
	// })();

function get_signed_request(file){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            console.log(xhr);
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
               // console.log("response " + response);
                upload_file(file, response.signed_request, response.url);
            }
            else {
                console.log("Could not get signed URL.");                
            }
        }
    };   
    xhr.send();
}

function upload_file(file, signed_request, url){
   // console.log('client 3');

   var firstProgressEvent = false;
    var xhr = new XMLHttpRequest();

    xhr.open("PUT", signed_request);

    xhr.upload.addEventListener("progress", uploadProgress, false);

    xhr.addEventListener("load", uploadComplete, false);

    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
          // 4//   document.getElementById("preview").src = url;
          //  document.getElementById("avatar_url").value = url;
        }
    };
    xhr.onerror = function() {
        alert("Could not upload file.");
    };

    //console.log("presend" + file);

    xhr.send(file);
    
    //console.log('client 5');


};	


////////////////// END CONDUCTOR SCRIPT //////////////////
</script>

</div>

		<div id="everythingPerformer">

			Hello {{user}}...  <br>

		<div id="perfDialogue" align="left"> 

				<!-- redo these with % -->

				Join as Performer:	 			
			<a>  
				<div class="performerDiv" id="perf1"> 1 </div> 
				<div class="performerDiv" id="perf2"> 2 </div> 
				<div class="performerDiv" id="perf3"> 3 </div> 
				<div class="performerDiv" id="perf4"> 4 </div> 
				<div class="performerDiv" id="perf5"> 5 </div> 


				
				<p>
				<div id="bpm"> </div>
				

			</a>

			<br>
			<br>
			<br>
					 <!-- responds to the "incoming" function -->
			<img src="/assets/incoming.png"  id="incoming"  style="width:167px; height:50">

	</div> 

	 <br>
	 
			<div id="figures" align="center">
	 		
	 <!-- This is where each new figure is injected into the performer page.
	 	  "currentFigure" is the name of the element that needs to be updated from conductor page. -->


	 	  		<!-- <div id="timeLine"> </div> -->

	 	  		<div id="sketchFigure"> </div>

			 	<video id="videoFig" width="800" height="0" autoplay loop src=" " type="video/mp4"> </video>
			 	
			 	<img id="imageFig" width="800" height="600" src="/assets/tacet.png" > </img>
			 	

			</div>

 
 <script type="text/javascript">



/////// BEGIN PERFORMER SCRIPT

 				
 					//actually calls th p5  (p5 sketches in /public/js)

					// DEFAULT p5 elements should be called globally?
					// maybe better to call them to preserve cpu 

					//var myp5 = new p5(tempo, 'bpm'); 

					// var myp5 = new p5(waveForm, 'timeLine');
					  

					

					//initialize globals
					var myId = 0; 
					var toWhom = 0;
					var toAll = 0;


		$(incoming).fadeTo(1,0);


	 				// functions (just one right now)
	 				var flashIncoming = function(){

						$(incoming).fadeTo(500, 1);
						$(incoming).fadeTo(500, 0);

						};

						// routes messages across channels

						socket.on('sendingTo', function (data) {							
							toWhom = data;
							console.log("toWhom = " + toWhom);
							
						});

						socket.on('sendingAll', function (data) {							
							toAll = data;
							console.log("toAll= " + toAll);	
							
						});

						//sets up flashing of incoming image referenced above
				


						socket.on('videoFigure', function (data) {


								//checks to see if conductor is talking to "you"
							if (myId == toWhom || toAll == 1) { 

								//flashes "incoming" image 
							var flasher = setInterval(function() {flashIncoming()} , 500);

								// shuts off incoming flasher after interval
							setTimeout(function() {clearInterval(flasher)}, 2000);
							setTimeout(function() {display()}, 3000);

							// display shitz
							var display = function(){
							console.log(data + "performerside" + toWhom);

							document.getElementById('imageFig').src = "";
							document.getElementById('imageFig').height = "0";

							document.getElementById('videoFig').src = data;
							document.getElementById('videoFig').height = "600";
								}
							}							
						});

					
			



						socket.on('imageFigure', function (data) {

							if (myId == toWhom || toAll == 1) {

								//flashes "incoming" image 
							var flasher = setInterval(function() {flashIncoming()} , 500);

								// shuts off incoming flasher after interval
							setTimeout(function() {clearInterval(flasher)}, 1500);
							setTimeout(function() {display()}, 3000);

								// display shitz
							var display = function(){
							console.log(data + "performerside" + toWhom);

							// NEED TO GET RID OF THIS HACKY WAY AND MAKE ONLY ONE DISPLAY AT A TIME
						    document.getElementById('videoFig').src = "";
						    document.getElementById('videoFig').height = "0";

							document.getElementById('imageFig').src = data;
							document.getElementById('imageFig').height = "600";

								}	
							}
						});



				
// // // // // // // // // //  END PERFORMER SCRIPT	

		</script>
	</div>   
 
 	</body>

</html>