<html>
<head>

    <title>FIGURE :: DASHBOARD</title>
    
        <script src="//code.jquery.com/jquery-1.11.2.min.js"> </script>
        <script type="text/javascript" src="/socket.io/socket.io.js"> </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/dropzone/dropzone.js"></script>
        <link rel="stylesheet" href=" /dropzone/dropzone.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="font-awesome/css/brands.css"/>
        <link rel="stylesheet" href="css/animate.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

   <!-- load fontawesome -->

<script>  var socket = io(); </script>
<script type="text/javascript">
    socket.on('connect', function() {
        console.log("Dashboard");
        //socket.emit('gimme');
    });
</script>
</head>

<body>

<section id="nav">
    <div class="row">
        <div class="col" align="center">
            <a href="/dashboard" ><img src="img/figure_logo_small.png" class="img-fluid"> </a>
                <div>
                <li class="btn btn-md"><a class="nav-link" href="/conductor"> SCORES </a></li>
                <li class="btn btn-md"><a class="nav-link" href="/newComp"> CREATE NEW </a></li>
                <li class="btn btn-md"><a class="nav-link" href="/help"> HELP </a></li> 
                </div>
                <!-- <div class="col">
                <div id="userName" align="center"> <p> |: {{user}} :| </p> </div>
                </div> -->
            <hr>
        </div>
    </div>
</section>

</body>
</html>
