<html>
<head>

	<title>FIGURE :: DASHBOARD</title>

       <!--  <meta charset="utf-8"> -->

        <script src="//code.jquery.com/jquery-1.11.2.min.js"> </script>
        <script type="text/javascript" src="/socket.io/socket.io.js"> </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/dropzone/dropzone.js"></script>
        <link rel="stylesheet" href=" /dropzone/dropzone.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="font-awesome/css/brands.css"/>
        <link rel="stylesheet" href="css/animate.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

   <!-- load fontawesome -->

        <script>  var socket = io(); </script>

        <script type="text/javascript">

        socket.on('connect', function() {
        console.log("Dashboard");
        //socket.emit('gimme');
        });

        </script>

        <style>


            body{

                /* background-color: #080336; */
                color: fff;
                font-size: 20px;
            }

        	/* #navContainer{
                float:left;
				margin: 0 auto;
   				width: 400px;
            } */


        </style>

</head>

<body>

	
		<!-- <nav> -->
<!-- 			<div class="navButton" id="compose">  COMPOSE </div> -->
            <!-- <a href="/conductor" class="btn btn-default"> Open Set</a> -->
           <!--  <a href="/compose" class="btn btn-default"> COMPOSE</a>  -->
					 	<!-- <a href="/newComp" class="btn btn-default"> Create Set</a> -->
						
            <!-- <a href="/about" class="btn btn-default"> ABOUT</a> -->




            <!-- <div class="btn btn-default" id="compose">  COMPOSE </div> <p>
		    <div class="btn btn-default" id="conduct">  CONDUCT </div> <p>
            <div class="btn btn-default" id="about">  ABOUT </div> <p> -->

           <!--  DEPRECATED^^^^ -->
        <!-- </nav> -->
        <section id="nav">
            <div class="row">
            <div class="col" align="center">

                <!-- <nav class="navbar navbar-expand-lg fixed-top"> -->
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar"> -->
                    <!-- <span class="navbar-toggler-icon">  &#9776; </span> -->
                <!-- </button> -->
                <a href="/dashboard" ><img src="img/figure_logo_small.png" class="img-fluid"> </a>
                  <!-- <div class="collapse navbar-collapse" id="navigation-bar"> -->
                    <!-- <ul class="navbar-nav ml-auto"> -->

                    <div>
                      <li class="btn btn-md"><a class="nav-link" href="/conductor"> SCORES </a></li>
                      <li class="btn btn-md"><a class="nav-link" href="/newComp"> CREATE NEW </a></li>
                      <li class="btn btn-md"><a class="nav-link" href="/help"> HELP </a></li>
                      
                    </div>
                    <!-- <div class="col">
                    <div id="userName" align="center"> <p> |: {{user}} :| </p> </div>
                     </div> -->
                    <hr>
                    <!-- </ul> -->
                  <!-- </div> -->
          
              <!-- </nav> -->
            <!-- <div class="row">
                <div class="col-md-11">
                <div id="userName" align="right"> <p> |: {{user}} :| </p> </div>
            </div>
            </div> -->
            </div>
        </div>
            

        </section>

    
              






	<script type="text/javascript">

        // nav handlers

     //    $(compose).click(function(){
    	// 	$(location).attr('href', '/compose') ;
    	// });

    	// $(perform).click(function(){
    	// 	$(location).attr('href', '/performer') ;
    	// });

    	// $(conduct).click(function(){
    	// 	$(location).attr('href', '/conductor') ;
    	// });

     //    $(about).click(function(){
     //        $(location).attr('href', '/about') ;
     //    });

    //DEPRECATED?^^^^^

    </script>

</body>
</html>
