<html>
<head>
	<!DOCTYPE html>

<meta charset="utf-8">

<title>Conductor Dashboard</title>


<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->
<!-- <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script> -->

<script src="/dropzone/dropzone.js"></script>


<!-- <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
 -->
<link rel="stylesheet" href=" /dropzone/dropzone.css">



<body>

drop

<form action="/file-upload" class="dropzone"  id="my-awesome-dropzone"></form>


</body>
</html>