<html>
<head>

    <title>AetherScore :: INFO</title>
    
        <script src="//code.jquery.com/jquery-1.11.2.min.js"> </script>
        <script type="text/javascript" src="/socket.io/socket.io.js"> </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/dropzone/dropzone.js"></script>
        <link rel="stylesheet" href=" /dropzone/dropzone.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="font-awesome/css/brands.css"/>
        <link rel="stylesheet" href="css/animate.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

   <!-- load fontawesome -->

<script>  var socket = io(); </script>
<script type="text/javascript">
    socket.on('connect', function() {
        console.log("Dashboard");
        //socket.emit('gimme');
    });
</script>
</head>

<body>

<section id="nav">
    <div class="row">
        <div class="col" align="center">
            <!-- <a href="/dashboard" ><img src="img/figure_logo_small.png" class="img-fluid"> </a> -->
            <a href="/dashboard" ><img src="img/aetherSm.png" class="img-fluid"> </a>
                <div>
                <li class="btn btn-md"><a class="nav-link" href="/conductor"> SCORES </a></li>
                <li class="btn btn-md"><a class="nav-link" href="/newComp"> CREATE NEW </a></li>
                <li class="btn btn-md"><a class="nav-link" href="/help"> HELP </a></li> 
                </div>
            
            <hr>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4"></div>
    <br>
    <div class="col-md-4" align="left">
        <br>
        <br>
        <h4> What is AetherScore? </h4>
        <p> AetherScore is a software toolkit, for creating & delivering flexible and dynamic cues or prompts, in real-time, on the fly, to individual performers through a precisely networked multi-screen interface. </p>
        <br>

        <br>
        <h4> Who is AetherScore for? </h4>
        <p> AetherScore is for improvisers, composers, experimentalists, conductors, performers, multimedia artists, educators, students, researchers, dolphins, unicorns, and of course, kittens. So if you identify as any of those things, it's for YOU.</p>
        <br>

        <br>
        <h4> What does AetherScore do? </h4>
        <p> It delivers real time text scores, <i> animated </i> graphic notation, reactive video score, visual metronome syncronization, very large ensembles of over 100 people if needed. The possibilities are marvelous.</p>
        <br>

        <br>
        <h4> Who is responsible for this nonsense? </h4>
        <p> AetherScore is developed by Justin Peake through Articulated Works. </p>
        <br>

    </div>
    <div class="col-md-4"></div>
</div>

</body>
</html>
