<html>
<head>
    <title>FIGURE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 

   <!-- load fontawesome -->
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.sound.js"> </script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.dom.js"> </script>
    <script type="text/javascript" src="/js/sketches.js"></script> 

    

    <style>
        body { 
            padding-top:10px; 
            /*background-color: #080336;*/
        background-color: #080336;
        }

        .jumbotron {
            background-color: #080336;
            padding-top: 100px;
        }  

        .btn {
            background-color: #080336;
        }

   
    </style>
</head>
<body>
<div id="container" align="center">

    <div class="jumbotron text-center">
     <!--    <h1> FIGURE </h1>

        <p>Login or Register with:</p> -->

        <div id="introTitle" align="center"> </div> 

        <a href="/login" class="btn btn-default"> Login</a>
        <a href="/register" class="btn btn-default"> Signup</a>
    </div>

</div>


</div>
 
</body>
</html>

<script type="text/javascript"> 

//var title = new p5(introTitle, 'introTitle');

     
</script>