<html>
	<head>

<title>FIGURE :: PERFORMER</title>

		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>

		 
		<script type="text/javascript" src="/js/sketches.js"></script> 
		<script type="text/javascript" src="/js/classes.js"></script> 

		<script src= " https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.js"> </script>

		<script>  var socket = io(); </script> 

					
				<script type="text/javascript">

							socket.on('connect', function() {
								socket.emit('perfAdd');  // no server listener for this yet
								console.log("Performer in the house.");
							});


						
				</script>	

				<style>

						@font-face {
					    font-family: nexa;
					    src: url('nexalight.otf');
						}
						div {
					    font-family: nexa;
						} 
						h1 {
						font-family: nexa;
						}
						p {
						font-family: nexa;
						}

						#perfDialogue {
							line-height:50px;
						    background-color:#FFFFFF;
						    height:70px;
						    width:750px;
						    float:left;
						    padding-left:0px;
						    padding-right:5px;
						}

						.performerDiv {
						width:50;
						height:50;
						background-color: 000000;
						color: FFFFFF;
						font-size: 40px;
						text-align: center;
						display: inline-block;
						margin: 2px;
					}
						#bpm{
							float: left;
						}

					




				</style>
	</head>
<body>

Hello {{user}}...  <br>

	<div id="perfDialogue" align="left"> 

				<!-- redo these with % -->

				Join as Performer:	 			
			<a>  
				<div class="performerDiv" id="p1"> 1 </div> 
				<div class="performerDiv" id="p2"> 2 </div> 
				<div class="performerDiv" id="p3"> 3 </div> 
				<p>
				<div id="bpm"> </div>
				

			</a>

			<br>
			<br>
			<br>
					 <!-- responds to the "incoming" function -->
			<img src="/assets/incoming.png"  id="incoming"  style="width:167px; height:50">

	</div> 

	 <br>
	 
			<div id="figures" align="center">
	 		
	 <!-- This is where each new figure is injected into the performer page.
	 	  "currentFigure" is the name of the element that needs to be updated from conductor page. -->


	 	  		<div id="timeLine"> </div>

	 	  		<div id="sketchFigure"> </div>

			 	<video id="videoFig" width="800" height="0" autoplay loop src=" " type="video/mp4"> </video>
			 	
			 	<img id="imageFig" width="800" height="600" src="/assets/tacet.png" > </img>
			 	

			</div>
 
 <script type="text/javascript">

 				// 	//variable to change p5
 				// 	var sketch = q;


 				// 	//actually calls th p5  (p5 sketches in /public/js)
					// var myp5 = new p5(time, 'timeLine');
					// var myp5 = new p5(tempo, 'bpm'); 

					// var myp5 = new p5(sketch, 'sketchFigure');  

					

					//initialize globals
					var myId = 0; 
					var toWhom = 0;
					var toAll = 0;


				//	var socket = io.connect();

					$(incoming).fadeTo(1,0);


		//performer buttons

	 	$(p1).click(function(){

	 		myId = 1;

	 		$(p1).fadeTo(500, 0.5);
	 		$(p2).fadeTo(500, 1);			 		
	 		$(p3).fadeTo(500, 1);

	 		$(p1).css('color', 'red');
	 		$(p2).css('color', 'white');
	 		$(p3).css('color', 'white');
	 		
			console.log("I am Performer " + myId);
	 	}
	 );

	 	$(p2).click(function(){

	 		myId = 2;

	 		$(p1).fadeTo(500, 1);
	 		$(p2).fadeTo(500, 0.5);			 		
	 		$(p3).fadeTo(500, 1);

	 		$(p1).css('color', 'white');
	 		$(p2).css('color', 'red');
	 		$(p3).css('color', 'white');

			console.log("I am Performer " + myId);		
	 	}
	 );

	 	$(p3).click(function(){

	 		myId = 3;

	 		$(p1).fadeTo(500, 1);
	 		$(p2).fadeTo(500, 1);			 		
	 		$(p3).fadeTo(500, 0.5);

	 		$(p1).css('color', 'white');
	 		$(p2).css('color', 'white');
	 		$(p3).css('color', 'red');

	 		console.log("I am Performer " + myId);
	 	}
	 );


	 				// functions (just one right now)
	 				var flashIncoming = function(){

						$(incoming).fadeTo(500, 1);
						$(incoming).fadeTo(500, 0);

					};

						// routes messages across channels

						socket.on('sendingTo', function (data) {							
							toWhom = data;
							console.log("toWhom = " + toWhom);
							
						});

						socket.on('sendingAll', function (data) {							
							toAll = data;
							console.log("toAll= " + toAll);	
							
						});

						//sets up flashing of incoming image referenced above
				


						socket.on('videoFigure', function (data) {


								//checks to see if conductor is talking to "you"
							if (myId == toWhom || toAll == 1) { 

								//flashes "incoming" image 
							var flasher = setInterval(function() {flashIncoming()} , 500);

								// shuts off incoming flasher after interval
							setTimeout(function() {clearInterval(flasher)}, 2000);
							setTimeout(function() {display()}, 3000);

							// display shitz
							var display = function(){
							console.log(data + "performerside" + toWhom);

							document.getElementById('imageFig').src = "";
							document.getElementById('imageFig').height = "0";

							document.getElementById('videoFig').src = data;
							document.getElementById('videoFig').height = "600";
								}
							}							
						});

					

						socket.on('imageFigure', function (data) {

							if (myId == toWhom || toAll == 1) {

								//flashes "incoming" image 
							var flasher = setInterval(function() {flashIncoming()} , 500);

								// shuts off incoming flasher after interval
							setTimeout(function() {clearInterval(flasher)}, 1500);
							setTimeout(function() {display()}, 3000);

								// display shitz
							var display = function(){
							console.log(data + "performerside" + toWhom);

							// NEED TO GET RID OF THIS HACKY WAY AND MAKE ONLY ONE DISPLAY AT A TIME
						    document.getElementById('videoFig').src = "";
						    document.getElementById('videoFig').height = "0";

							document.getElementById('imageFig').src = data;
							document.getElementById('imageFig').height = "600";

								}	
							}
						}); 


						socket.on('sketchFigure', function (data) {

							sketch = data;

								});	
						
						






	</script>
 </body>
</html>