 <html>  
	<head> 

		<title> FIGURE :: PERFORMER</title>

		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/sketches.js"></script> 
		<script type="text/javascript" src="/js/classes.js"></script> 
		<script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.js"> </script>
		<script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.sound.js"> </script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/addons/p5.dom.js"> </script>
				

		<script> 
			var whosBoss = prompt("Please enter the name of the composer you are joining");
				if (whosBoss != null) {
					subscribedTo = whosBoss;	   			
				var socket = io(); 
				console.log("Socket thing " + subscribedTo);
				}
		</script>

		<script type="text/javascript">
			
			socket.on('connect', function() {
				// socket.emit('gimmePerfCount');  // no server listener for this yet
				console.log("Socket Connection");
			});

		</script>	 


		<style>

			body{
				background-color: #080336;
				color: fff;
				    font-size: 15px;
			}
			
			#perfDialogue {
				background-color: #080336;
			
			}

			#everythingConductor {
				/*visibility: visible;*/ 
				display: none;
			}

			#everythingPerformer {
				/*visibility: hidden;*/
				display: block;
			}

		/*	#sketchFigure {
				visibility: hidden;
				display: block;
			}  */

		</style>

			
	</head>

<script type="text/javascript">

	socket.on('switch', function (data){

	document.getElementById("everythingPerformer").style.display = "none";
	document.getElementById("everythingConductor").style.display= "block";

	if (myId == toWhom || toAll == 1) {

		console.log("got tha switch " + data);

	};
});
</script>

<body>

<div id="everythingPerformer" align="center">
	<div id="perfDialogue"> 				 
		<div id="youAre"> </div>	
		<div id="bpm"> </div>								 		
		<!-- responds to the "incoming" function -->
		<img src="/assets/incoming.png"  id="incoming"  style="width:167px; height:50">
	</div> 
			 <!-- container for all figures -->
	<div id="figures" align="center">
  		<!-- container where performer channel buttons show up -->
		<div id="performer-container" > </div>
		 <!-- container where the waveForm visualizer sketch shows up -->
  		<div id="waveSketch"> </div>
	  		<!-- container where video figures show up -->
	 	<video id="videoFig" width="800" height="0" autoplay loop src=" " type="video/mp4"> </video>	 	
	 	<!-- container where image figures show up -->
	 	<img id="imageFig" width="800" height="600" src="/assets/tacet.png" > </img>		 	
	</div>
</div>

 
 <script type="text/javascript">

 // INIT stuff

socket.emit('gimmePerfCount');  // poll server for perfCount as soon as performer page connects


/////// BEGIN PERFORMER SCRIPT

	// 	//variable to change p5
	// 	var sketch = q;

	// 	//actually calls the p5  (p5 sketches in /public/js)

	 //var myp5 = new p5(waveForm, 'timeLine');

	//var myp5 = new p5(tempo, 'bpm'); 

	var subscribedTo;


	// PERFORMER ID STUFF
		//initialize globals for performer id

	var myId = 0; 
	var toWhom = 0;
	var toAll = 0;
	var group = [];

	// this determines which composition you receive messages from

	//p5 WAVE STUFF
		// this var exists inside of the p5 instance "waveForm"
	var trackName = '';
	//changed this from myp5 to wave
	var wave;	

									
	// this is handling the p5 instance for wavePlayer
	socket.on (subscribedTo + ' waveSketch', function (data){

		trackName = data;
		
		/* logic below: if there isn't an instance one on the page (it will be undefined) so create a new one
		 if there is an instance, remove it and create a new one */

		 //changed to add the toWhom conditional logic
		if ( myId == toWhom || toAll == 1 && typeof(myp5) == 'undefined' ){						
				wave = new p5(waveForm, "waveSketch"); 
			} else if ( myId == toWhom || toAll == 1) {
				wave.remove();
				wave = new p5(waveForm, "waveSketch"); 
			}

	});


	$(incoming).fadeTo(1,0);

		// functions (just one right now)
	var flashIncoming = function(){
		$(incoming).fadeTo(500, 1);
		$(incoming).fadeTo(500, 0);
	};


////////////////////////// DYNAMIC PERF SHIZZ					

// routes messages across channels

	var perfCount;
	var perfs = [];

	var oldID; // used to switch button activation in doTheThing()

	
	// when conductor creates perf buttons, handle this 
	socket.on (subscribedTo + ' perfCount', function (data) {

		console.log("got a new subscribed perf count " + data);

		perfCount= data;
		$('.performerDivB').remove();
			perfs = [];
			for(i=0; i < perfCount ; i++){
		    	perfs[i] = document.createElement('div');
		    	perfs[i].className = 'performerDivB';
		    	perfs[i].id = 'cp' + (i+1);
		    	perfs[i].innerHTML = i + 1;
		    	document.getElementById('performer-container').appendChild(perfs[i]);
		    };
			for (var i = 0; i < perfCount; i++){
				$('#cp' + (i+1)).click(doTheThing(i));
			};	
	});

	// when performer logs on, handle this 

	// NB : Not really sure this is still relevant
	socket.on(subscribedTo +' givenPerfCount', function (data) {		

		perfCount= data;
		
		$('.performerDivB').remove();
			perfs = [];

			for(i=0; i < perfCount ; i++){
		    	perfs[i] = document.createElement('div');
		    	perfs[i].className = 'performerDivB';
		    	perfs[i].id = 'cp' + (i+1);
		    	perfs[i].innerHTML = i + 1;
		    	document.getElementById('performer-container').appendChild(perfs[i]);
		    };
		
			for (var i = 0; i < perfCount; i++){
				$('#cp' + (i+1)).click(doTheThing(i));
			};	
	});


	//the function called above in  " socket.on('perfCount', function (data){...} " 

		function doTheThing(index) {

    	return function(){ 

    		 // resetting previous performer button to init values
    		 $(oldID).fadeTo("fast", 1); 
	    	 $(oldID).css('color', 'white');

	    	 console.log('reset' + oldID);

    		var num = index + 1;
    		var perfID = "#cp" + (num);

		 			
 			myId = num;
 			console.log("I am Performer " + myId);

 			 // setting current perf. button to 'active' values

 			 $(perfID).fadeTo("fast", 0.5); 
	    	 $(perfID).css('color', 'red');

	    	 // sets 'oldID' to the current ID so that upon change, button gets reset visually
	    	 oldID = perfID;

 			};  //end return function

 		};  // end doTheThing



///////////////////////////////////////////////////// END DYNAMIC PERF SHIZZ

	socket.on(subscribedTo + ' toGroup', function (data) {							
		group = data;
		console.log(group);
	});

	socket.on(subscribedTo + ' sendingTo', function (data) {							
		toWhom = data;
		console.log("toWhom = " + toWhom);
		
	});

	socket.on(subscribedTo + ' sendingAll', function (data) {							
		toAll = data;
		console.log("toAll= " + toAll);	
		
	});


	//sets up flashing of incoming image referenced above

	socket.on(subscribedTo + ' videoFigure', function (data) {

			//checks to see if conductor is talking to "you"
		if (myId == toWhom || toAll == 1) { 

			//flashes "incoming" image 
		var flasher = setInterval(function() {flashIncoming()} , 500);

			// shuts off incoming flasher after interval
		setTimeout(function() {clearInterval(flasher)}, 2000);
		setTimeout(function() {display()}, 3000);

		// display shitz
		var display = function(){
		console.log(data + "performerside" + toWhom);

		document.getElementById('imageFig').src = "";
		document.getElementById('imageFig').height = "0";

		document.getElementById('videoFig').src = data;
		document.getElementById('videoFig').height = "600";
			}
		}							
	});

					
	socket.on(subscribedTo + ' imageFigure', function (data) {

		if (group.indexOf(myId) > -1 || toAll == 1) {

			//flashes "incoming" image 
		var flasher = setInterval(function() {flashIncoming()} , 500);

			// shuts off incoming flasher after interval
		setTimeout(function() {clearInterval(flasher)}, 1500);
		setTimeout(function() {display()}, 3000);

		$(imageFig).fadeTo(3000,0);

			// display shitz
		var display = function(){
		console.log(data + "performerside" + toWhom);

		// NEED TO GET RID OF THIS HACKY WAY AND MAKE ONLY ONE DISPLAY AT A TIME
	    document.getElementById('videoFig').src = "";
	    document.getElementById('videoFig').height = "0";


	    

		document.getElementById('imageFig').src = data;
		document.getElementById('imageFig').height = "600";

		$(imageFig).fadeTo(2000,1);

			}	
		}
	});



				
// // // // // // // // // //  END PERFORMER SCRIPT	

		</script>
	</div>   



	<div id="everythingConductor">

 	<div id="switcher"> SWITCH </div> <p>

	<div class="sidebar"> You are the CONDUCTOR, {{user}}.

				<!--  Make autopropagating performer number boxes  !!!! dammit !!!!!-->
			 	<p>

				<div class="performerDiv" id="cp1"> 1 </div> 
				<div class="performerDiv" id="cp2"> 2 </div> 
				<div class="performerDiv" id="cp3"> 3 </div> 
				<div class="performerDiv" id="cp4"> 4 </div> 
				<div class="performerDiv" id="cp5"> 5 </div> 
				<div class="performerDiv" id="cpAll" style="font-size:40px;width:90px"> ALL </div> 

				<p>
				<p>

			<nav>
			<div class="navButton" id="compose">  COMPOSE </div>
		    <div class="navButton" id="perform">  PERFORM </div>
		    <div class="navButton" id="conduct">  CONDUCT </div>
			</nav>

	</div>



			<div class="figures">

				<p> Images <p>
                  {{#images}}
                  <img src={{.}} class="imageF" width="175px" height="175px">
                  {{/images}}


                 <p> Videos <p>
                  {{#videos}}
                  <video src={{.}} class="videoF" width="175px" height="175px"> </video>
                  {{/videos}}

            </div>

	
	
	<script type="text/javascript">


		// BEGIN CONDUCTOR SCRIPT
		
		// this block is taking the number of images and adding ID's for button fucntions

		var imageIds = document.getElementsByClassName("imageF");  // from image tag above
		var imageIdsLength = imageIds.length;
		var imageSrcs = [];  //sending this to the socket emit

		for (i = 0; i < imageIds.length; i++) {
			imageIds[i].id = 'iF'+ i;	
		};

		// gut the urls of images
		for (i = 0; i < imageIds.length; i++) {
			imageSrcs[i] = imageIds[i].src;
		};

		//seth helped with this  -- add button functionalities
		for(var i = 0; i < imageIds.length; i ++){
			$("#iF" + i).click(fadeTheFadeI(i));
		}

		//add the urls to the button
		function fadeTheFadeI(index){
			return function(){
				$("#iF" + index).fadeTo("slow", 0.5);
				socket.emit('imageFigure', imageSrcs[index])
			}
		};	


		//video buttons

		var videoIds = document.getElementsByClassName("videoF");  // from image tag above
		var videoIdsLength = videoIds.length;
		var videoSrcs = [];  //sending this to the socket emit

		//create unique id's for videos
		for (i = 0; i < videoIds.length; i++) {
			videoIds[i].id = 'vF'+ i;	
		};
		// gut the urls of videos
		for (i = 0; i < videoIds.length; i++) {
			videoSrcs[i] = videoIds[i].src;
		};
		//seth helped with this  -- add button functionalities
		for(var i = 0; i < videoIds.length; i ++){
			$("#vF" + i).click(fadeTheFadeV(i));
		}
		//add the urls to the button
		function fadeTheFadeV(index){
			return function(){
				$("#vF" + index).fadeTo("slow", 0.5);
				socket.emit('videoFigure', videoSrcs[index])
			}
		}	


				// working
				var toWhom = 0;  // initialize these globally, used in server and emit to performers
				var toAll = 0;
				var divs = [];


				//SWITCHER
				$(switcher).click(function(){

					console.log('switch ' + toWhom);
					socket.emit('switch', toWhom);

				});


				//for autopropagating perf buttons

				$(compose).click(function(){
		        	$(location).attr('href', '/compose') ;   
			    });

			    $(perform).click(function(){
			        $(location).attr('href', '/performer') ;   
			    });

			    $(conduct).click(function(){
			        $(location).attr('href', '/conductor') ;   
			    });
					 
						
		 		$(cp1).click(function(){

		 			$(cp1).fadeTo("fast", 0.5); 
		 			$(cp2).fadeTo("fast", 1); 
		 			$(cp3).fadeTo("fast", 1);
		 			$(cp4).fadeTo("fast", 1);
		 			$(cp5).fadeTo("fast", 1);
		 			$(cpAll).fadeTo("fast", 1);

		 			$(cp1).css('color', 'red');
 					$(cp2).css('color', 'white');
 					$(cp3).css('color', 'white');
 					$(cp4).css('color', 'white');
 					$(cp5).css('color', 'white');
 					$(cpAll).css('color', 'white');

		 			toAll = 0;
		 			toWhom = 1;

		 			console.log("one");
		 			socket.emit('sendingTo', toWhom, toAll);
		 			socket.emit('sendingAll', toAll);

				 	}
				 );

		 		$(cp2).click(function(){

		 			$(cp1).fadeTo("fast", 1); 
		 			$(cp2).fadeTo("fast", 0.5); 
		 			$(cp3).fadeTo("fast", 1);
		 			$(cp4).fadeTo("fast", 1);
		 			$(cp5).fadeTo("fast", 1);
		 			$(cpAll).fadeTo("fast", 1);

		 			$(cp1).css('color', 'white');
 					$(cp2).css('color', 'red');
 					$(cp3).css('color', 'white');
 					$(cp4).css('color', 'white');
 					$(cp5).css('color', 'white');
 					$(cpAll).css('color', 'white');


		 			toAll = 0;
		 			toWhom = 2;

		 			console.log("two");
		 			socket.emit('sendingTo', toWhom, toAll);
		 		    socket.emit('sendingAll', toAll);
				 	}
				 );

		 		$(cp3).click(function(){

		 			$(cp1).fadeTo("fast", 1);
		 			$(cp2).fadeTo("fast", 1);
		 			$(cp3).fadeTo("fast", 0.5);
		 			$(cp4).fadeTo("fast", 1);
		 			$(cp5).fadeTo("fast", 1);
		 			$(cpAll).fadeTo("fast", 1);

		 			$(cp1).css('color', 'white');
 					$(cp2).css('color', 'white');
 					$(cp3).css('color', 'red');
 					$(cp4).css('color', 'white');
 					$(cp5).css('color', 'white');
 					$(cpAll).css('color', 'white');


		 			toAll = 0;
		 			toWhom = 3;

		 			
					console.log("three");
		 			socket.emit('sendingTo', toWhom, toAll);
		 		    socket.emit('sendingAll', toAll);
		 		
				 	}
				 );

		 		$(cp4).click(function(){

		 			$(cp1).fadeTo("fast", 1);
		 			$(cp2).fadeTo("fast", 1);
		 			$(cp3).fadeTo("fast", 1);
		 			$(cp4).fadeTo("fast", 0.5);
		 			$(cp5).fadeTo("fast", 1);
		 			$(cpAll).fadeTo("fast", 1);

		 			$(cp1).css('color', 'white');
 					$(cp2).css('color', 'white');
 					$(cp3).css('color', 'white');
 					$(cp4).css('color', 'red');
 					$(cp5).css('color', 'white');
 					$(cpAll).css('color', 'white');


		 			toAll = 0;
		 			toWhom = 4;

		 			
					console.log("three");
		 			socket.emit('sendingTo', toWhom, toAll);
		 		    socket.emit('sendingAll', toAll);
		 		
				 	}
				 );

		 		$(cp5).click(function(){

		 			$(cp1).fadeTo("fast", 1);
		 			$(cp2).fadeTo("fast", 1);
		 			$(cp3).fadeTo("fast", 1);
		 			$(cp4).fadeTo("fast", 1);
		 			$(cp5).fadeTo("fast", 0.5);
		 			$(cpAll).fadeTo("fast", 1);

		 			$(cp1).css('color', 'white');
 					$(cp2).css('color', 'white');
 					$(cp3).css('color', 'white');
 					$(cp4).css('color', 'white');
 					$(cp5).css('color', 'red');
 					$(cpAll).css('color', 'white');


		 			toAll = 0;
		 			toWhom = 5;

		 			
					console.log("three");
		 			socket.emit('sendingTo', toWhom, toAll);
		 		    socket.emit('sendingAll', toAll);
		 		
				 	}
				 );

				$(cpAll).click(function(){

					$(cp1).fadeTo("fast", 1);
		 			$(cp2).fadeTo("fast", 1);
		 			$(cp3).fadeTo("fast", 1);
		 			$(cp4).fadeTo("fast", 1);
		 			$(cp5).fadeTo("fast", 1);
		 			$(cpAll).fadeTo("fast", 0.5);

		 			$(cp1).css('color', 'white');
 					$(cp2).css('color', 'white');
 					$(cp3).css('color', 'white');
 					$(cp4).css('color', 'white');
 					$(cp5).css('color', 'white');
 					$(cpAll).css('color', 'red');

					toWhom = 0;
		 			toAll = 1;

		 			
					console.log("three");
		 			socket.emit('sendingTo', toWhom, toAll);
		 			socket.emit('sendingAll', toAll);
				 	}
				 );

			// END CONDUCTOR SCRIPT
		

			</script>

		</div>

 </body>
</html>