
#userName {
	padding-top: 1%
}

.jumbotron {
	background-color: #555;
	color: white;;
	font-size: 20px;
}


#jum .btn-block {
	background-color: #333;
	color: #FFFFFF; 
}

#jum .btn-block:hover {
	background-color: rgb(37, 184, 221);
	color: rgb(0, 0, 0); 
}

.btn {
	background-color: #333;
	color: #FFFFFF ;
	margin-bottom: 1%;
	width: 30%;
	text-align: left;
}

.btn:hover {
	background-color: rgb(37, 184, 221);
	color: rgb(0, 0, 0); 
}
.btn-lg{
	width: 50%;
}

p {
	font-size:14px;
	color:white;
	background: none;
}

h1 {
	color:aquamarine;
	font-size: 70;
}

h3{
	font-size: 14px;
}

h4 {
	font-size: 16px;
	color: aquamarine;
}

.conductorNav {
	font-size: 12;
	color: black;
}

body {	
	font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
	background-color: #555;
	padding-top: 1%;
	padding-left: 1%;
	color: fff;
	font-size: 15px;
}

:link {
	color: #fff;
}

:link:hover {
	color: #555;
}

#perfDialogue {
	line-height:50px;
	background-color:#FFFFFF;
	height:70px;
	width:50px;
	float:left;
	padding-left:0px;
	padding-right:0px;
}

#performer-container{
	height:relative;
	width:750px;
	display: block;
	padding-bottom: 25px;

}

.performerDiv {
	width:50;
	height:50;
	border-radius: 50px;
	background-color: 666666;
	color: FFFFFF;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	margin: 2px;
}

.performerDivB {
	width:50;
	height:50;
	border-radius: 50px;
	background-color: 666666;
	color: FFFFFF;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	margin: 2px;
}

#youAre{
	width: 50;
	font-size: 100;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	text-align: left;
}

#sendingTo{
	width: 50;
	font-size: 60;
	text-align: center;
}



/* performer.html */
#imageFig{   
	height:600px;
	width:800px;
	opacity: .4;
}

.figures{
	width: 740px;
	float: left;
	position: relative;
	display: inline;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* in conductor.html */

#conductorMain{
	width: 700px;
	float: left;
	/* position: absolute; */
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 10px;
}
.figuresB{
	width: auto;
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
}
.imageText, .videoText{
	position:absolute;
	z-index: 1000;
	display:inline;
	top: 50%;
	left: 50%;
	right: 0;
	font-size: 20;
	transform: translate(-50%, -50%);
}

.imageF{
	padding-bottom: 10px;
}
.sidebar{
	width: 130px;
	height: 70px;
	float:left;
	margin-right: 100px;
}



.navButton{
	width:160;
	height:40;
	border-radius: 40px;
	background-color: 666666;
	color: FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height:40px;
	display: block;
	margin: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.audio{
	width:200;
	height:40;
	border-radius: 40px;
	background-color: 666666;
	color: FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height:40px;
	display: inline-block;
	margin: 2px;
}

.figuresBox{
	width: 740px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

#bpm {
	float: left;
}
